$white: #fff;
$blue: #15c3d6;
$blueDark: #12afcb;
$yellow: #ffd666;
$blueHover: #96feff;

$background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
$green: #37c77f;
$greenHover: #3ee08f;

$input: #f5f8fa;
$title: #4d6f80;
$label: #8fa7b3;
$text: #5c8599;
$text-blue: #0889a5;

$valid: #4caf50;
$invalid: #ff669d;
