$white: #FFF;
$blue: #15C3D6;
$blueDark: #12AFCB;
$yellow: #FFD666;
$blueHover: #96feff;

$background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
$green: #37C77F;
$greenHover: #3EE08F;

$input: #F5F8FA;
$title: #4D6F80;
$label: #8FA7B3;
$text: #5C8599;

$valid: #4CAF50;
$invalid: #FF669D;